name: Build + Release Wheels

on:
  workflow_dispatch:
    inputs:
      use_qemu:
        description: "Use qemu for builds with targets requiring emulation"
        required: true
        default: true
      llvm_version:
        description: "LLVM version to build"
        required: false
        default: ""
      wheel_version:
        description: "Version of the wheel packaging (appended to LLVM version)"
        required: false
        default: "0"
      deploy_to_testpypi:
        description: "Whether the build should be deployed to test.pypi.org instead regular PyPI"
        required: true
        default: false

env:
  USE_QEMU: ${{ github.event.inputs.use_qemu == 'true' }}

jobs:
  build-wheels:
    name: "${{ matrix.os }} :: ${{ matrix.arch }} (skip: ${{ matrix.skip }})"
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        arch: ["aarch64", "ppc64le", "s390x", "x86_64", "i686"]
        skip: ["*manylinux*", "*musllinux*"]
        include:
          # initially generate all 10 matrix combinations with qemu on ubuntu:
          - os: ubuntu-20.04
            use_qemu: true
          # modify the x86_64 and i686 jobs generated above to disable qemu
          - os: ubuntu-20.04
            arch: "x86_64"
            use_qemu: false
          - os: ubuntu-20.04
            arch: "i686"
            use_qemu: false
          # additional runs (they define skip="" to ensure they cannot be combined with any matrix combinations)
          - os: windows-2019
            arch: "AMD64"
            use_qemu: false
            skip: ""
          - os: windows-2019
            arch: "x86"
            use_qemu: false
            skip: ""
          # note for future reference: why not separate x86_64 / arm64 macos builds?
          # - building clang-format involves building llvm-tblgen and clang-tblgen binaries
          # - these binaries are then executed as part of the build process
          # - if we build for arm64 on an intel cpu it cannot execute these binaries and the build fails
          - os: macos-11
            arch: "universal2"
            use_qemu: false
            skip: ""
            cmake_osx_architectures: "x86_64;arm64"

    steps:
    - uses: actions/checkout@v3
      if: (!matrix.use_qemu) || fromJSON(env.USE_QEMU)
    
    - name: Support long paths
      if: runner.os == 'Windows' && ((!matrix.use_qemu) || fromJSON(env.USE_QEMU))
      run: git config --system core.longpaths true

    - name: Override LLVM version (${{ github.event.inputs.llvm_version }})
      if: github.event.inputs.llvm_version
      run: |
        echo "set(CLANG_FORMAT_VERSION ${{ github.event.inputs.llvm_version }})" > clang-format_version.cmake
        echo "set(CLANG_FORMAT_WHEEL_VERSION ${{ github.event.inputs.wheel_version }})" >> clang-format_version.cmake

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2.1.0
      if: runner.os == 'Linux' && ((matrix.use_qemu) && fromJSON(env.USE_QEMU))

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.12.0
      if: (!matrix.use_qemu) || fromJSON(env.USE_QEMU)
      env:
        CIBW_ARCHS: "${{ matrix.arch }}"
        CIBW_SKIP: "${{ matrix.skip }}"
        CIBW_ENVIRONMENT: 'CMAKE_OSX_ARCHITECTURES="${{ matrix.cmake_osx_architectures }}"'

    - uses: actions/upload-artifact@v3
      if: (!matrix.use_qemu) || fromJSON(env.USE_QEMU)
      with:
        path: ./wheelhouse/*.whl

  build-sdist:
    name: Build source distribution
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - name: Override LLVM version (${{ github.event.inputs.llvm_version }})
        if: github.event.inputs.llvm_version
        run: |
          echo "set(CLANG_FORMAT_VERSION ${{ github.event.inputs.llvm_version }})" > clang-format_version.cmake
          echo "set(CLANG_FORMAT_WHEEL_VERSION ${{ github.event.inputs.wheel_version }})" >> clang-format_version.cmake
 
      - name: Build SDist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz
  
  test-sdist:
    name: Test build from source distribution
    needs: [build-sdist]
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: '3.9'

      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: sdist

      - name: Install from SDist
        run:
          pip install sdist/*.tar.gz

      - name: Install test requirements
        run:
          python -m pip install -r requirements-dev.txt

      - name: Set up Git identity
        run: |
          git config --global user.name Name
          git config --global user.email foo@bar.com

      - name: Run test suite
        run:
          python -m pytest

  upload_pypi:
    name: Upload to PyPI
    needs: [build-wheels, build-sdist, test-sdist]
    runs-on: ubuntu-20.04
    if: github.repository_owner == 'ssciwr'

    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist

      - name: Upload to PyPI
        uses: pypa/gh-action-pypi-publish@v1.6.4
        if: github.event.inputs.deploy_to_testpypi == 'false'
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

      - name: Upload to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.6.4
        if: github.event.inputs.deploy_to_testpypi == 'true'
        with:
          user: __token__
          password: ${{ secrets.TESTPYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
